@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-bg: rgba(0, 0, 0, 0.8);
  --color-primary: rgb(231, 76, 60) !important;
  --color-primary-hover: rgba(231, 76, 60, 0.8);
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: var(--color-bg) !important;
}
